<p id="notice"><%= notice %></p>

<h1>Listing Request Logs</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Headers</th>
      <th>Requested Path</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_logs.each do |request_log| %>
      <tr>
        <td><%= link_to(request_log.body.to_s[0..40], request_log)  %></td>
        <td><%= link_to(request_log.headers.to_s[0..40], request_log) %></td>
        <td><%= link_to(request_log.requested_path.to_s, request_log) %></td>
        <td><%= link_to 'Edit', edit_request_log_path(request_log) %></td>
        <td><%= link_to 'Destroy', request_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request log', new_request_log_path %>
