<p id="notice"><%= notice %></p>

<h1>Listing Request Logs</h1>

<table>
  <thead>
    <tr>
      <th>Raw</th>
      <th>Headers</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_logs.each do |request_log| %>
      <tr>
        <td><%= request_log.raw.to_s[0..40] %></td>
        <td><%= request_log.headers.to_s[0..40] %></td>
        <td><%= request_log.source.to_s %></td>
        <td><%= link_to 'Show', request_log %></td>
        <td><%= link_to 'Edit', edit_request_log_path(request_log) %></td>
        <td><%= link_to 'Destroy', request_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request log', new_request_log_path %>
