<p id="notice"><%= notice %></p>
<p>
  <strong>Requested Path:</strong>
  <%= @request_log.requested_path %>
</p>
<p>
  <strong>Headers:</strong>
  <%= @request_log.headers %>
</p>

<p>
  <strong>Body:</strong>
  <%= @request_log.body %>
</p>


<%= link_to 'Edit', edit_request_log_path(@request_log) %> |
<%= link_to 'Back', request_logs_path %>
